In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
data = pd.read_csv('iris.csv')

In [3]:
data.sample(10)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
129,130,7.2,3.0,5.8,1.6,Iris-virginica
124,125,6.7,3.3,5.7,2.1,Iris-virginica
95,96,5.7,3.0,4.2,1.2,Iris-versicolor
141,142,6.9,3.1,5.1,2.3,Iris-virginica
108,109,6.7,2.5,5.8,1.8,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
134,135,6.1,2.6,5.6,1.4,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
29,30,4.7,3.2,1.6,0.2,Iris-setosa
35,36,5.0,3.2,1.2,0.2,Iris-setosa

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [5]:
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [6]:
data['Id'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 150 entries, 0 to 149
Series name: Id
Non-Null Count  Dtype
--------------  -----
150 non-null    int64
dtypes: int64(1)
memory usage: 1.3 KB

In [7]:
### part 2

In [12]:
setosa_df = data[data['Species']=='Iris-setosa'].drop('Species', axis = 1)

In [13]:
setosa_df.sample(5)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
35  36            5.0           3.2            1.2           0.2
24  25            4.8           3.4            1.9           0.2
46  47            5.1           3.8            1.6           0.2
12  13            4.8           3.0            1.4           0.1
5    6            5.4           3.9            1.7           0.4

In [14]:
setosa_df.mean()

Id               25.500
SepalLengthCm     5.006
SepalWidthCm      3.418
PetalLengthCm     1.464
PetalWidthCm      0.244
dtype: float64

In [ ]:
setosa_df.median()

In [ ]:
setosa_df.std()

In [ ]:

percentiles = setosa_df.quantile([0.25, 0.5, 0.75])
percentiles

In [ ]:

versicolor_df = data[data['Species']=='Iris-versicolor'].drop('Species', axis = True)

In [ ]:
versicolor_df.sample(5)

In [ ]:
versicolor_df.mean()

In [ ]:
versicolor_df.median()

In [ ]:
versicolor_df.std()

In [ ]:
percentilev = versicolor_df.quantile([0.25,0.5,0.75])
percentilev

In [ ]:
virginica_df = data[data['Species']=='Iris-virginica'].drop('Species', axis = 1)

In [ ]:
virginica_df.mean()

In [ ]:
virginica_df.median()

In [ ]:
virginica_df.std()

In [ ]:
percentilevv = virginica_df.quantile([0.25,0.5,0.75])

In [ ]:
percentilevv

In [ ]:
#part 1

In [ ]:
newdata = data.groupby('Species')

In [ ]:
newdata.sample(7)

In [ ]:
newdata.mean()

In [ ]:
newdata.median()

In [ ]:
percentile = newdata.quantile([0.25,0.5,0.75])

In [ ]:
percentile